<div class="card m-3">
  <div class="card-body">
    <h1><%= pluralize(@users.size, "User") %></h1>
    <div class="container">
      <% @users.map do |user| %>
        <li>
          <%= link_to user.name, user %>
          created
          <%= time_ago_in_words(user.created_at) %> ago
        </li>
      <% end %>
    </div>
  </div>
</div>
