$error-color: red;
$error-background-color: #FFC;

div.field_with_errors {
  display: inline;
  label {
    color: $error-color;
  }
  input, textarea, select {
    background: $error-background-color;
  }
}

.content {
  min-height: calc(100vh - 70px);
}

.footer {
  height: 40px;
}
