<footer class="footer py-2 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'tinawebdev', 'https://github.com/tinawebdev/', target: "_blank", class: "text-light" %></small>
  </div>
</footer>
