<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%# <p class="m-0 text-secondary">Eventz</p> %>
    <%= link_to "Eventz", root_path, class: "navbar-brand mb-0 mr-4 p-2 h1 font-weight-bold text-uppercase"%>       
  </nav>
</header>
