<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Eventz", root_path, class: "navbar-brand mb-0 mr-4 p-2 h1 font-weight-bold text-uppercase" %>       
    <%= link_to "Add New Event", new_event_path(@event), class: "btn btn-outline-warning btn-sm px-4 ml-3" %>        
  </nav>
</header>
